build/ZERO_CHECK.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/tictactoe.sln
build/Testing/Temporary/LastTest_20251102-0740.log
build/Testing/TAG
build/Testing/20251102-0740/Test.xml
build/RUN_TESTS.vcxproj.filters
build/RUN_TESTS.vcxproj
build/PACKAGE.vcxproj.filters
build/PACKAGE.vcxproj
build/NightlyMemoryCheck.vcxproj.filters
build/NightlyMemoryCheck.vcxproj
build/Nightly.vcxproj.filters
build/Nightly.vcxproj
build/Experimental.vcxproj.filters
build/Experimental.vcxproj
build/demo.vcxproj.filters
build/demo.vcxproj
build/demo.dir/Debug/vc143.pdb
build/demo.dir/Debug/TicTacToe.obj
build/demo.dir/Debug/Square.obj
build/demo.dir/Debug/Sprite.obj
build/demo.dir/Debug/Othello.obj
build/demo.dir/Debug/main_win32.obj
build/demo.dir/Debug/imgui_widgets.obj
build/demo.dir/Debug/imgui_tables.obj
build/demo.dir/Debug/imgui_impl_win32.obj
build/demo.dir/Debug/imgui_impl_dx11.obj
build/demo.dir/Debug/imgui_draw.obj
build/demo.dir/Debug/imgui_demo.obj
build/demo.dir/Debug/imgui.obj
build/demo.dir/Debug/Grid.obj
build/demo.dir/Debug/Game.obj
build/demo.dir/Debug/demo.tlog/link.write.1.tlog
build/demo.dir/Debug/demo.tlog/link.secondary.1.tlog
build/demo.dir/Debug/demo.tlog/link.read.1.tlog
build/demo.dir/Debug/demo.tlog/link.command.1.tlog
build/demo.dir/Debug/demo.tlog/demo.lastbuildstate
build/demo.dir/Debug/demo.tlog/CustomBuild.write.1.tlog
build/demo.dir/Debug/demo.tlog/CustomBuild.read.1.tlog
build/demo.dir/Debug/demo.tlog/CustomBuild.command.1.tlog
build/demo.dir/Debug/demo.tlog/CL.write.1.tlog
build/demo.dir/Debug/demo.tlog/CL.read.1.tlog
build/demo.dir/Debug/demo.tlog/Cl.items.tlog
build/demo.dir/Debug/demo.tlog/CL.command.1.tlog
build/demo.dir/Debug/demo.ilk
build/demo.dir/Debug/demo.exe.recipe
build/demo.dir/Debug/Connect4.obj
build/demo.dir/Debug/ChessSquare.obj
build/demo.dir/Debug/Chess.obj
build/demo.dir/Debug/Checkers.obj
build/demo.dir/Debug/BitHolder.obj
build/demo.dir/Debug/Bit.obj
build/demo.dir/Debug/Application.obj
build/Debug/resources/yellow.png
build/Debug/resources/x.png
build/Debug/resources/w_rook.png
build/Debug/resources/w_queen.png
build/Debug/resources/w_pawn.png
build/Debug/resources/w_knight.png
build/Debug/resources/w_king.png
build/Debug/resources/w_bishop.png
build/Debug/resources/square.png
build/Debug/resources/red.png
build/Debug/resources/o.png
build/Debug/resources/boardsquare.png
build/Debug/resources/b_rook.png
build/Debug/resources/b_queen.png
build/Debug/resources/b_pawn.png
build/Debug/resources/b_knight.png
build/Debug/resources/b_king.png
build/Debug/resources/b_bishop.png
build/Debug/imgui.ini
build/Debug/demo.pdb
build/Debug/demo.exe
build/DartConfiguration.tcl
build/CTestTestfile.cmake
build/CPackSourceConfig.cmake
build/CPackConfig.cmake
build/Continuous.vcxproj.filters
build/Continuous.vcxproj
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp
build/CMakeFiles/d2923a689627e18faa642c4f51052858/RUN_TESTS_force.rule
build/CMakeFiles/d2923a689627e18faa642c4f51052858/PACKAGE_force.rule
build/CMakeFiles/d2923a689627e18faa642c4f51052858/NightlyMemoryCheck.rule
build/CMakeFiles/d2923a689627e18faa642c4f51052858/Nightly.rule
build/CMakeFiles/d2923a689627e18faa642c4f51052858/generate.stamp.rule
build/CMakeFiles/d2923a689627e18faa642c4f51052858/Experimental.rule
build/CMakeFiles/d2923a689627e18faa642c4f51052858/Continuous.rule
build/CMakeFiles/CTestScript.cmake
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/4.1.0/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/4.1.0/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/4.1.0/VCTargetsPath.vcxproj
build/CMakeFiles/4.1.0/VCTargetsPath.txt
build/CMakeFiles/4.1.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/4.1.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/4.1.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/4.1.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/4.1.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/4.1.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/4.1.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/4.1.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/4.1.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/4.1.0/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/4.1.0/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/4.1.0/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/4.1.0/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/4.1.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/4.1.0/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/4.1.0/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
build/CMakeFiles/4.1.0/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/4.1.0/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/4.1.0/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/4.1.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/4.1.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/4.1.0/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/4.1.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/4.1.0/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/4.1.0/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/4.1.0/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/4.1.0/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/4.1.0/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/4.1.0/CMakeSystem.cmake
build/CMakeFiles/4.1.0/CMakeRCCompiler.cmake
build/CMakeFiles/4.1.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.1.0/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/4.1.0/CMakeCXXCompiler.cmake
build/CMakeFiles/4.1.0/CMakeCCompiler.cmake
build/CMakeCache.txt
build/cmake_install.cmake
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj
build/.cmake/api/v1/reply/toolchains-v1-3f7fba895ec92d5c6d45.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-97a76e8c78cbaade431c.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-97a76e8c78cbaade431c.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-97a76e8c78cbaade431c.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-97a76e8c78cbaade431c.json
build/.cmake/api/v1/reply/target-NightlyMemoryCheck-RelWithDebInfo-886c5cb404b1635dd902.json
build/.cmake/api/v1/reply/target-NightlyMemoryCheck-Release-886c5cb404b1635dd902.json
build/.cmake/api/v1/reply/target-NightlyMemoryCheck-MinSizeRel-886c5cb404b1635dd902.json
build/.cmake/api/v1/reply/target-NightlyMemoryCheck-Debug-886c5cb404b1635dd902.json
build/.cmake/api/v1/reply/target-Nightly-RelWithDebInfo-0551d6e640451b4205dc.json
build/.cmake/api/v1/reply/target-Nightly-Release-0551d6e640451b4205dc.json
build/.cmake/api/v1/reply/target-Nightly-MinSizeRel-0551d6e640451b4205dc.json
build/.cmake/api/v1/reply/target-Nightly-Debug-0551d6e640451b4205dc.json
build/.cmake/api/v1/reply/target-Experimental-RelWithDebInfo-01abb19c2d240f36eb6a.json
build/.cmake/api/v1/reply/target-Experimental-Release-01abb19c2d240f36eb6a.json
build/.cmake/api/v1/reply/target-Experimental-MinSizeRel-01abb19c2d240f36eb6a.json
build/.cmake/api/v1/reply/target-Experimental-Debug-01abb19c2d240f36eb6a.json
build/.cmake/api/v1/reply/target-demo-RelWithDebInfo-0435dfdba083045b4c51.json
build/.cmake/api/v1/reply/target-demo-Release-44fdf4191ef0fd145fdd.json
build/.cmake/api/v1/reply/target-demo-MinSizeRel-b205705973ca4eb3ff8d.json
build/.cmake/api/v1/reply/target-demo-Debug-02646a923952a2332033.json
build/.cmake/api/v1/reply/target-Continuous-RelWithDebInfo-8e5069f6e98a57f1c6b4.json
build/.cmake/api/v1/reply/target-Continuous-Release-8e5069f6e98a57f1c6b4.json
build/.cmake/api/v1/reply/target-Continuous-MinSizeRel-8e5069f6e98a57f1c6b4.json
build/.cmake/api/v1/reply/target-Continuous-Debug-8e5069f6e98a57f1c6b4.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-4d04449a9aeef3184d77.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-4d04449a9aeef3184d77.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-4d04449a9aeef3184d77.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-4d04449a9aeef3184d77.json
build/.cmake/api/v1/reply/index-2025-11-02T07-40-48-0258.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/codemodel-v2-8fe933e6b7169a12bbc5.json
build/.cmake/api/v1/reply/cmakeFiles-v1-35b28d440c93f447e45d.json
build/.cmake/api/v1/reply/cache-v2-2f73bba6c6f7b4d965bb.json
build/.cmake/api/v1/query/client-vscode/query.json
.vscode/settings.json
